.article {
	width: 80%;
	height: 200px;
	background-color: rgb(64, 102, 89);
	margin: 0 auto;
	margin-top: 20px;
}

.scrollX {
	overflow-x: scroll;
}

.basic-scroll {
  &::-webkit-scrollbar {
    height: 10px;
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #5d42f6;

    &:hover {
      background-color: #f04d63;
    }
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }
}