.header {
	width: 80%;
	height: 100px;
	background-color: aquamarine;
	margin: 0 auto
}

/* mediaQuery */
/* 0 ~ 1440px */
/* @media (max-width: 1440px) {
	.header {
		width: 80%;
	}
} */

/* 0 ~ 960px */
@media (max-width: 960px) {
	.header {
		width: 100%;
	}
}