.section {
  width: 80%;
  height: "auto";
  background-color: rgb(8, 161, 110);
  display: grid;
  margin: 0 auto;
}

/* mediaQuery */
/* 0 ~ 1440px */
/* @media (max-width: 1440px) {
	.section {
		width: 50%;
	}
} */

/* 0 ~ 960px */
@media (max-width: 960px) {
  .section {
    width: 100%;
  }
}
